---
title: Join Ames Cub Scouts
permalink: /join/index.html
description: 'Join Ames Cub Scouts'
layout: base
---

<div class="wrapper">
  <header>
      <h1 class="charm-text">{{ title }}</h1>
  </header>

  <div>
    {% svg "divider/soft-top", null, "divider", "background-color: var(--color-primary); fill: var(--color-bg);" %}
  <card-custom class="wrapper prose" style="background-color: var(--color-primary)">
    <h2 class="charm-text" style="color:  var(--color-secondary)" slot="headline">Campfire and s'mores</h2>
    <p style="color:  var(--color-bg)" slot="content">7 p.m. Friday, September 12th, 2025</p>
    <p style="color:  var(--color-bg)" slot="content">Ames Izaak Walton League, 2066 Stagecoach Rd, Ames, IA 50010</p>
    <p style="color:  var(--color-bg)" slot="content">Join us for s'mores and a campfire and learn about Cub Scouts!</p>
  </card-custom>
    {% svg "divider/soft-bottom", null, "divider", "fill: var(--color-primary);" %}
  </div>

  <article class="full | region">
    <div class="wrapper flow prose">
      <p>
        You are welcome to join us for a few activities to see how Cub Scouts works with your family. 
      </p>
      <p>
        <a style="color:  var(--color-primary)" href="https://docs.google.com/forms/d/e/1FAIpQLSescOYm2DdEutRXr1vB7VETan82wUtQxyC1Vtwhevxp7iLjRQ/viewform?usp=dialog">Contact us to find out more about upcoming activities</a>
      </p>

      <p>
        Ames has two Cub Scout packs that share activities together. Say hello through the links below.
      </p>

      <ul>
      <li><a href="https://www.facebook.com/pack159ames/">Facebook for Pack 159 of Ames</a></li>
      <li><a href="https://www.facebook.com/pack275ames">Facebook for Pack 275 of Ames</a></li>
      </ul>

      <p>
        <a style="color:  var(--color-primary)" href="/about/">Find out more about Ames Cub Scouts</a>
      </p>

      <img
        src="../assets/images/scouting-america/cub-scout-hike.jpg"
        alt="Scouts enjoying a hike."
        class="image-full"></img>
    </div>
  </article>

</div>
